/* Change the background color for the entire page */
body {
    background-color: #F5; /* Replace 'lightblue' with your desired color */
    color: black; /* Adjust text color for better readability */
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}


h1 {
    color: #333;
    text-align: center;
}
